<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Excel to Word</title>
</head>
<body>
  <h2>Please upload excell files:</h2>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul style="color: red;">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <form method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx,.xls" required>
    <button type="submit">Upload and Convert</button>
  </form>
</body>
</html>
